.c-nav {
  max-width: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-nav__item {
  font-size: 1.5rem;
  font-weight: 200;
}

.c-nav__item--big {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
}
