* {
  font-family: "Poppins", sans-serif;
  color: var(--second-color);
}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--bg-color);
}

form {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
